@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-gray: #424247;
  --primary-orange: #ff5400;
  --primary-black: #131318;
}

/* all */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

/* sheared */
.btn-semibold {
  font-weight: 700;
  color: #fff;
  background: var(--primary-orange);
}
.flex {
  display: flex;
}
.orange-override {
  color: var(--primary-orange);
}
.clicked-bold {
  font-weight: 700;
}
nav,
main {
  max-width: 1170px;
  margin: 0 auto;
}
/* header */
/* nav */
.navbar {
  margin: 50px auto;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  align-items: center;
  gap: 16px;
}
.brand-logo {
  height: 48px;
}
.brand {
  font-size: 3rem;
  font-weight: 800;
}
.nav-links {
  list-style: none;
  gap: 44px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-gray);
  font-size: 1.125rem;
}
.burger-menu {
  display: none;
}

/* travel explore  */

.travel-explore {
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  padding: 106px 185px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group\ 13\ .png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.travel-explore-container {
  /* display: inline-block; */
  max-width: 800px;
  max-height: 288px;
  text-align: center;
  /* margin: 106px auto; */
}
.explore-text {
  max-width: 676px;
  max-height: 156px;
  margin: 0 auto;
}

.travel-explore-title {
  color: #ffff;
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 24px;
}
.travel-explore-description {
  color: #ffff;
}

.explore-form {
  margin-top: 48px;
  padding: 16px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  background: rgba(255, 255, 255, 0.3);
}
.explore-form > * {
  padding: 14px 34px;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
}
.margin-r-5px {
  margin-right: 8px;
}
/* Device responsive styles */

@media screen and (max-width: 576px) {
  /* nav */
  .nav-links {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu > img {
    height: 22px;
  }

  .navbar {
    margin: 20px;
  }
  .nav-left {
    gap: 10px;
  }
  .brand-logo {
    height: 28px;
  }
  .brand {
    font-size: 1.34rem;
    font-weight: 800;
  }
}
